.content:not(.custom)
  // 显示锚标记
  :not( h2 ) > a.header-anchor
    opacity: 1;
  // 增加大标题与其他内容的间距
  > h2:not(:first-child)
    padding-top: 12rem;
  // 增加副标题与其他内容的间距
  > :not( h2 ) + h3:not(:first-child)
    padding-top: 8rem;
  // 缩小提示容器的字体大小
  .custom-block.tip, .custom-block.warning, .custom-block.danger
    font-size: 95%
  // 提亮字体颜色
  code
    color: #e96900